@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 11px;
  scroll-behavior: smooth;
}
body{
  background: black;
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */

header{
  height: 50px;
  padding: 25px 0;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img{
  height: 40px;
}
header nav .icon{
  color: white;
  font-size: 3rem;
}
@media(min-width: 768px){
  header nav .icon{
    display: none;
  }
}
header nav ul{
  display: flex;
  align-items: center;
  position: relative;
}
@media(max-width: 767px){
  header nav ul{
    display: none;
  }
  header nav .icon:hover + ul{
    display: block;
    position: absolute;
    right: 0;
    min-width: 300px;
    background-color: #42445A61;
    height: 50vh;
    top: 11%;
  }
  header nav ul li{
    padding: 15px;
  }
}
header nav ul a{
  padding: 0 16px;
  color: white;
  font-size: 2rem;
  transition: .40s;
}
header nav ul a:hover{
  color: #49B9E7;
}
header nav il a:hover{
  cursor: pointer;
}
/* End header */

.home{
  padding-top: 100px;
  padding-bottom: 60px;
}
.home .container{
  text-align: center;
 max-width: 500px;
}
.home img{
  width: 300px;
}
.home h1{
  margin: 15px 0;
  line-height: 1;
  font-weight: 600;
  color: white;
}
.home p{
  margin: 15px 0;
  line-height: 1.5;
  font-weight: 500;
  color: white;
}
.home a{ 
  padding: 10px 40px;
  color: white;
  background-color:
  #49B9E7;
  font-weight: 500;
  border-radius: 20px;
  transition: .40s;
}
.home a:hover{
  background-color: #8CDAE4;
}
/* start servises  */
.servises{
  padding-top: 100px;
  padding-bottom: 60px;
}
.servises .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 gap: 40px;
  text-align: center;
}
@media(min-width: 991px){
  .servises .container{

    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

.servises .card{
  color: white;
  max-width: 500px;
  margin: auto;
}
.servises .card img{
  width: 50px;
}
.servises .card h1{
  margin: 20px 0;
  line-height: 1.5;
  font-size: 1rem;
  padding: 5px;
}
.servises .card p{
  margin: 20px 0;
  line-height: 1.5;
  color: #e5e5e5;
  font-size: 1rem;
  padding: 5px;
}
/* End servisrs */
/* start lindeng */

.lindeng{
  padding-top: 60px;
  padding-bottom: 100px;
}
.lindeng .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  gap: 40px;
  align-items: center;
  
}
@media(min-width: 991px){
  .lindeng .container{
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
.lindeng .box img{
  width: 100%;
}
.lindeng .text{
  color: white;
  max-width: 500px;
}
.lindeng .text h1{
  line-height: 1.5;
  margin: 10px 0;
}
.lindeng .text p{
  line-height: 1.5;
  margin: 10px 0;
  color: #e5e5e5;
  padding: 5px;
}
.lindeng .text{
  position: relative;
}
.lindeng .text a{
  position: relative;
  color: white;
}
.lindeng .text a:hover{
  cursor: pointer;
  color: #49B9E7;
}
.lindeng .text a::before{
  content: "";
  position: absolute;
 
  width: 100%;
  height: 1px;
  background-color: #777;
  bottom: -3px;
}

/* End lindeng */

.portfoluo .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  gap: 40px
}
.portfoluo .box{
  color: white;
 padding: 10px;
 background-color: #21293C;
}
.portfoluo .box >p{
  font-size: 1rem;
  margin: 15px 0;
  line-height: 1.5;
}
.portfoluo  .box .info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.portfoluo .box .info img{
  border-radius: 20px;
  width: 35px;
  height: 35px;
}
.portfoluo .box h1{
 font-size: 1rem;
}


.text-card{
  padding-top: 100px;
  padding-bottom: 100px;
  padding: 5;
}
.text-card .container{
  background-color: #21293C;
  text-align: center;
  color: white;
  padding: 5px;
  max-width: 500px;
}
.text-card form input{
  width: 200px;
  margin: 20px 0;
  height: 30px;
  margin-left: -4%;
  border-radius: 20px;
  border: none;
  padding: 5px;
}
.text-card h1{
  margin: 15px 0;
  line-height: 1.5;
  font-size: 1.4rem;
}
.text-card h2{
  margin: 15px 0;
  line-height: 1.5;
  font-size: 1rem;
}
.text-card a{
  padding: 10px 40px;
  color: white;
  background-color:
  #49B9E7;
  font-weight: 500;
  border-radius: 20px;
  transition: .40s;
  margin-left: 20px;
}
.text-card a:hover{
  cursor: pointer;
  color: #49B9E7;
  color: white;
}

footer{
  color: white;
  
}
footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: auto;
}
footer .logo{
  height: 25px;
}
footer span{
  margin-left: 10px;
  margin-top: 5px;
}
footer p{
  margin: 10px 0;
}
